{% comment %}
Displays a cropped image if a ratio is passed, or an uncropped one if crop == 'none'.
{% endcomment %}
{%- if crop == 'none' or ratio == 0 -%}
  {% render 'responsive-image' with
    image: image
  %}
{%- else -%}
  <div class="gallery-image-cropped relative w-full"
    style="padding-top:{{ 1 | divided_by: ratio | times: 100 }}%;">
    <div
      class="lazyload gallery-image-cropped__inner absolute top-0 left-0 right-0 bottom-0 bg-cover bg-center"
      data-bgset="{% render 'responsive-bg-image', image: image %}"
      data-sizes="auto"
      data-parent-fit="cover"
      style="background-image: url('{{ image | img_url: '300x300' }});">
    </div>
  </div>
{%- endif -%}
